* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: darkslategray;
    width: 100%;
    height: auto;
    gap: 10px;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    position: sticky;
    font-family: helvetica;
}

.logo {
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
    text-shadow: 3px 3px 3px black;
}

.logo a {
    text-decoration: none;
    color: lightyellow;
    transition: all .3s ease 0s;
}



.logo a:hover {
    color: lightgray;
}

ul {
    display: flex;
    padding: 18px;
}

li {
    list-style-type: none;
    padding: 10px;
    text-shadow: 3px 3px 3px black;
}

li:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

li a {
    display: inline-block;
    text-decoration: none;
    color: lightyellow;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}

li a:hover {
    color: lightgray;
}

.btn-cta {
    display: flex;
    background-color: crimson;
    border-radius: 6px;
    color: lightyellow;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}

.btn-cta:hover {
    color: black;
    background-color: lightyellow;
}

/* navbar end */

/* main */
.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    padding: 48px 0;
    background: url('assets/cover.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    background: linear-gradient(to right, rgba(200, 160, 255, 0.5), rgba(173, 216, 230, 0.5));
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35), 0 1.5px 4px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    animation: fadeIn 2s ease-in-out forwards;
    -webkit-animation: fadeIn 4s ease-in-out forwards;
    padding: 28px;
    margin: 24px;
}

#greeting {
    gap: 18px;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    background: linear-gradient(to right, rgba(200, 160, 255, 0.5), rgba(173, 216, 230, 0.5));
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35), 0 1.5px 4px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 28px;
    margin: 24px;
    font-size: 1.5rem;
    animation: fadeIn 2s ease-in-out forwards;
    -webkit-animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

.title {
    font-size: 24px;
    font-weight: bolder;
}

.description {
    font-size: 18px;
    font-weight: bold;
}

.caption {
    font-size: 18px;
    font-family: none;
    font-style: none;
}

.main-content {
    background-image: url('assets/cover2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360vh;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: darkslategray;
    color: lightyellow;
    text-shadow: 3px 3px 3px black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    position: sticky;
    gap: 14px;
}

.mt {
    margin-top: 12;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.card {
    text-align: center;
    background: linear-gradient(to right, rgba(200, 160, 255, 0.5), rgba(173, 216, 230, 0.5));
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35), 0 1.5px 4px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 20px;
    margin: 24px;
}

.card img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    margin-bottom: 12px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.card h1 {
    font-size: 18px;
    font-weight: bold;
}

.card p {
    font-size: 16px;
    font-weight: bolder;
    margin-top: 12px;
}

/* main close

/* footer */
.footer {
    background: black;
    color: lightyellow;
    text-align: center;
    padding: 24px 0;
    font-size: 16px;
}

.footer a {
    text-decoration: none;
    margin: 0 4px;
}

/* Media query untuk desain mobile*/
@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* navbar */
    html {
        font-size: 14px;
    }

    header {
        gap: 0.5em;
        padding: 0.5em;
    }

    .logo {
        margin: 0.5em 0;
        font-size: 1.5rem;
    }

    li a {
        font-size: 0.7rem;
    }

    .btn-cta {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    /* navbar end */

    /* main */
    .container {
        display: flex;
        flex-direction: column;
        padding: 1.5em 0.5em;
        height: 70vh;
    }

    .intro {
        margin: 0;
        font-weight: 400;
        gap: 0.7em;
        text-align: center;
    }

    .title {
        font-size: 1.1rem;
    }

    .description {
        font-size: 0.95rem;
    }

    .caption {
        font-size: 0.85rem;
    }

    .about {
        padding: 1em 0.5em;
        gap: 0.7em;
        font-size: 0.95rem;
        text-align: center;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding: 0 0.5em 1em 0.5em;
        overflow-x: auto;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        
    }

    .card {
        margin: 1em 0;
        padding: 1em;
        border-radius: 1em;
    }

    .card h1 {
        font-size: 1rem;
    }

    .card p {
        font-size: 0.95rem;
        margin-top: 0.7em;
    }

    /* main close

/* footer */
    .footer {
        font-size: 0.95rem;
        padding: 1em 0.5em;
        margin-top: auto;
    }
}
